body {
  display: flex;
  flex-direction: column;
  font-family:'Trebuchet MS';
  height: 100vh;
  margin: 0;

}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  margin: 0;
  padding: 16px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  
}

li {
  display: inline;
  font-size: 24px;
  
}

a {
  text-decoration: none;
  color: white;

}

.links {
  display: flex;
  gap: 15px;
  color: white;
}

.child-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1F2937;
  color: white;
  padding: 50px;

}

.child-1 img {
  height: 200px;
  width: auto;

}

.left-child-1 {
  max-width: 270px;
  
}

.child-1 button {
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 5px;
  padding: 5px 20px;
  border-style: none;
  margin: 8px;
  margin-left: 0;
  font-weight: 600;
}

.awesome {
  font-weight: 700;
  font-size: 48px;
  color: #F9FAF8;
}

.sentence {
  font-size: 12px;
  font-weight: 100;
}

.child-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random {
  font-weight: 900;
  font-size: 36px;
  padding: 30px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;

}

.icon img {
  max-height: 200px;
  max-width: 150px;
  flex-shrink: 1;
  
}

.text {
  max-width: 180px;
}

.Brown {
  margin-top: 60px;
}

.child-3{
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.child-3-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

p {
  max-width: 600px;
  font-size: 36px;
  font-weight: 100;
}

.Thor {
  align-self: flex-end;
  font-weight: 900;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #1F2937;
  color: white;
  gap: 5px;
}

.child-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.blue-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #3882f6;
  padding: 40px 80px;
  color: white;
  border-radius: 5px;
}

.Sign {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px 20px;
  border-style: solid;
  border-color: white;
  
}

.call {
  font-size: 25px;
  font-weight: 500;
}